/* styles.css
 * Eli Shayer
 * ----------
 * Stylesheet for Eli Shayer's personal website
 */

 /* ----- general styles ----- */

/* Ensure the html reaches the bottom of the screen and place
 * a scrollbar regardless of size so it doesn't enter and exit
 */

html {
	height: 100%;
	overflow-y: scroll;
}

body {
	height: 100%;
	font-family: sans-serif;
	background-color: #8c1515; /* Cardinal red background */
	color: #27408b; /* Royal blue text */
}

/* ensure the container takes up the whole screen vertically
 * small padding to the top and bottom (20px),
 * 100px padding on the left and right
 * Sandstone 50% background
 */
.container {
	min-height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #eee6cb;
}

/* Small padding on top and bottom of each row */
.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ----- portrait styles ----- */
img#portrait {
	width: 100%;
	border-radius: 50%;
}

/* ----- Styles for the tabs ----- */
.nav>li>a {
	text-transform: capitalize;
}

/* Colors for trophies */
i.gold {
	color: #ffd700;
}

i.silver {
	color: #c0c0c0;
}

i.bronze {
	color: #cd7f32;
}

/* ----- Shared .tile-wrapper class ----- */
.tile-wrapper {
	padding-top: 5px;
	padding-bottom: 5px;
}

.tile-wrapper>div {
	padding: 5px 5% 5px 5%;
	border-style: solid;
	border-width: 1px;
	border-color: #8c1515;
	border-radius: 8px;
	background-color: #f6f3e5;
}

.tile-wrapper>div:hover {
	background-color: #ddcf99;
}

.tile-wrapper.active>div {
	background-color: #cccccc;
}

/* ----- Styles for the about tab ----- */
hr.tab-hr {
	border-top-width: 5px;
	margin-top: 0px;
	margin-bottom: 17px;
}

hr.min {
	margin-top: 0px;
	margin-bottom: 0px;
}

#schools p.header {
	font-weight: bold;
}

.no-pad-ul>li {
	list-style-type: none;
}

.no-pad-ul {
	padding-left: 0px;
}

a[data-toggle="popover"], a[data-toggle="tooltip"] {
	color: inherit;
}

/* ----- Styles for the projects tab ----- */
#projects>.tile-wrapper>div {
	position: relative;
}

#projects>.tile-wrapper>div>h3, #projects>.tile-wrapper>div>a>h3 {
	margin-top: 10px;
	color: #27408b;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 10px;
	color: inherit;
}

/* ----- Styles for the skills tab ----- */
#skill-names>.tile-wrapper {
	height: 40px;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

#skill-names {
	padding-top: 0px;
}

#skills-details>div {
	font-size: 1.5em;
}

/* ----- Styles for the social links ----- */

/* center the table */
#social-links>div>table {
	margin-left: auto;
	margin-right: auto;
}

/* add padding between cells */
#social-links>div>table>tbody>tr>td {
	padding-left: 10px;
	padding-right: 10px;
}
